<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Venda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header>
        <h1>Cadastrar Venda</h1>
    </header>

    <div class="container">
        <form method="post">

            <label for="produto_id">Produto:</label>
            <select name="produto_id" id="produto_id" required class="input-field">
                {% for produto in produtos %}
                    <option value="{{ produto[0] }}">{{ produto[1] }}</option>
                {% endfor %}
            </select><br>


            <label for="quantidade">Quantidade:</label>
            <input type="number" name="quantidade" id="quantidade" required class="input-field"><br>


            <label for="preco_unitario">Preço Unitário:</label>
            <input type="number" step="0.01" name="preco_unitario" id="preco_unitario" required class="input-field"><br>


            <button type="submit" class="btn-submit">Registrar Venda</button>

            <br>

            <div class="btn-container">
            <a href="{{ url_for('dashboard') }}" class="btn-back">Voltar ao Dashboard</a>
        </div>
        </form>
    </div>

</body>
</html>
