<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Lista de Produtos</h1>
    </header>

    <div class="btn-container">
        <a href="{{ url_for('dashboard') }}" class="btn-back">Voltar ao Dashboard</a>
    </div>

    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                    <tr>
                        <td>{{ produto[1] }}</td>
                        <td>{{ produto[2] }}</td>
                        <td>{{ produto[3] }}</td>
                        <td>

                            <form action="{{ url_for('deletar_produto', produto_id=produto[0]) }}" method="POST" style="display:inline;">
                                <button type="submit" class="btn-delete">Deletar</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
